<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>Futbol DT</title>
</head>
<body id="homeBody">
    <ul class="button">
        <a href="/orden?orden=entrenar">
            <button>Entrenar</button>
        </a>
    </ul>
    <ul class="button">
        <a href="/orden?orden=descansar">
            <button>Descansar</button>
        </a>
    </ul>
    <ul class="button">
        <a href="/orden?orden=jugar">
            <button>Jugar</button>
        </a>
    </ul>
<h1 id="title">FOOTBALL DT</h1>
</body>
</html>